story-tracker.md
old-story-tracker.md
public/ghost.html

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules

# Optional npm cache directory
.npm
